<ion-card>
  <ion-card-content>
    <ion-grid>

      <ion-row *ngIf="word.word" class="vertical-align-content">
        <ion-col>
          <ion-text>
            <h3>{{word.word}}</h3>
          </ion-text>
        </ion-col>
        <ion-col size="2">
            <ion-button (click)="pronounce(word.word, word.language)" size="medium" fill="clear" shape="round">
              <ion-icon name="volume-high-outline"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="word.translateCh" class="vertical-align-content">
        <ion-col>
          <ion-text>
            <h3>{{word.translateCh}}</h3>
          </ion-text>
        </ion-col>
        <ion-col size="2">
            <ion-button (click)="pronounce(word.translateCh, 'ch')" size="medium" fill="clear" shape="round">
              <ion-icon name="volume-high-outline"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="word.translateEn" class="vertical-align-content">
        <ion-col>
          <ion-text>
            <h3>{{word.translateEn}}</h3>
          </ion-text>
        </ion-col>
        <ion-col size="2">
            <ion-button (click)="pronounce(word.translateEn)" size="medium" fill="clear" shape="round">
              <ion-icon name="volume-high-outline"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="word.sentence" class="vertical-align-content">
        <ion-col>
          <ion-text>
            <h3>{{word.sentence}}</h3>
          </ion-text>
        </ion-col>
        <ion-col size="2">
            <ion-button (click)="pronounce(word.sentence, word.language)" size="medium" fill="clear" shape="round">
              <ion-icon name="volume-high-outline"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
    
    </ion-grid>
  </ion-card-content>
</ion-card>
