<ion-header>
    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>

        <ion-title class="ion-text-center">
            <ion-text>{{pageHeader}}</ion-text>
        </ion-title>

        <ion-buttons slot="primary">
            <ion-button>
                <ion-icon slot="icon-only" name="scan-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>