<hw-header [pageHeader]="pageHeader"></hw-header>

<ion-content>

    <ion-grid>

        <ion-card class="ion-padding" *ngIf="!hasAnyRecord">
            <ion-row class="ion-text-center">
                <h6>{{emptyMsg}}</h6>
            </ion-row>
        </ion-card>

        <ion-card class="saving-card" *ngFor="let settingRecord of settingRecords$ | async | keyvalue: unsorted"
                  [hidden]="settingRecord.value?.records?.length <= 0"
                  (click)="clickCard(settingRecord.value.records)">

            <ion-row class="ion-padding">
                <ion-col size="6" class="ion-text-left">
                    <ion-text [color]="settingRecord.value.total - settingRecord.value.completed > 0 ? 'warning' : 'primary'">
                        {{ settingRecord.key | date: 'yyyy/MM/dd HH:mm:ss' }}
                    </ion-text>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-text [color]="settingRecord.value.total - settingRecord.value.completed > 0 ? 'warning' : 'primary'">
                        ➤
                    </ion-text>
                </ion-col>
            </ion-row>

            <ion-row class="ion-padding">
                <ion-col size="6" class="ion-text-left">
                    <ion-text>
                        Groups
                    </ion-text>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-text>
                        {{ settingRecord.value?.records?.length || 0 }}
                    </ion-text>
                </ion-col>
            </ion-row>

            <ion-row class="ion-padding group-list" *ngFor="let setting of settingRecord?.value?.records">
                <ion-col size="6" class="ion-text-left">
                    <ion-text>
                        {{titleMap[setting.type]}}
                    </ion-text>
                </ion-col>
                <ion-col size="4" class="ion-text-right">
                    <ion-text>
                        {{ setting.min }}-{{ setting.max }}
                    </ion-text>
                </ion-col>
                <ion-col size="2" class="ion-text-right">
                    <ion-text [color]="setting.finishedCount - 1 >= setting.max - setting.min ? 'primary' : 'warning'">
                        {{ setting.max - setting.min - setting.finishedCount + 1 }}
                    </ion-text>
                </ion-col>
            </ion-row>

            <ion-row class="ion-padding">
                <ion-col size="6" class="ion-text-left">
                    <ion-text>
                        Total
                    </ion-text>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-text>
                        {{settingRecord.value.total}}
                    </ion-text>
                </ion-col>
            </ion-row>

            <ion-row class="ion-padding">
                <ion-col size="6" class="ion-text-left">
                    <ion-text [color]="settingRecord.value.total - settingRecord.value.completed > 0 ? 'warning' : ''">
                        Unfinished
                    </ion-text>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-text [color]="settingRecord.value.total - settingRecord.value.completed > 0 ? 'warning' : ''">
                        {{settingRecord.value.total - settingRecord.value.completed}}
                    </ion-text>
                </ion-col>
            </ion-row>

            <ion-row class="ion-padding">
                <ion-col size="6" class="ion-text-left">
                    <ion-text [color]="settingRecord.value.total == settingRecord.value.completed ? 'primary' : ''">
                        Completed
                    </ion-text>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-text [color]="settingRecord.value.total == settingRecord.value.completed ? 'primary' : ''">
                        {{settingRecord.value.completed}}
                    </ion-text>
                </ion-col>
            </ion-row>

        </ion-card>

    </ion-grid>

</ion-content>
<hw-bottom-tabs [selected]="'hw-review'"></hw-bottom-tabs>