<ion-list >

    <hw-quiz-setting-item *ngFor="let setting of settingList"
                          [setting]="setting"
                          (settingChange)="quizSettingChange($event)">
    </hw-quiz-setting-item>

    <ion-item class="ion-text-center">
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size="12" class="ion-text-center">
                    <ion-button expand="block" (click)="onSpellingClick()" color="warning">
                        Go!
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-list>